<app-header></app-header>

<h1 class="h1">Product Details</h1>

<div class="card mb-3" style="max-width: 900px">
  <div class="row g-0">
    <div class="col-md-8 prodImage">
      <div class="oneImg">
        <div *ngIf="imgClickFlag; else elseBlock">
          <img
            class="BigImg"
            src="{{ oneProduct?.images[imgClickIndex]?.url }}"
            alt="Product Image"
          />
        </div>

        <ng-template #elseBlock>
          <img
            class="BigImg"
            src="{{ oneProduct?.images[0]?.url }}"
            alt="Product Image"
          />
        </ng-template>
      </div>

      <div style="display: flex">
        <div class="pull-left mt-sm">
          <i
            class="fa fa-chevron-circle-left"
            (click)="scrollLeft()"
            aria-hidden="true"
          ></i>
        </div>

        <div #widgetsContent class="custom-slider-main">
          <div
            class="info-box"
            *ngFor="let image of oneProduct?.images; let pic = index"
          >
            <img
              class="listImg"
              src="{{ oneProduct?.images[pic]?.url }}"
              alt="Product Image"
              (click)="showBigImg(pic)"
            />
          </div>
        </div>

        <div class="pull-right mt-sm">
          <i
            class="fa fa-chevron-circle-right"
            (click)="scrollRight()"
            aria-hidden="true"
          ></i>
        </div>
      </div>
    </div>

    <div class="col-md-4" style="border-left: 0.5px solid gray">
      <div class="card-body">
        <h3
          class="card-title"
          style="color: #36454f; margin-bottom: 15px; text-align: center"
        >
          {{ oneProduct?.name }}
        </h3>

        <div style="margin-bottom: 15px">
          Price:
          <span class="card-text lh-base" style="padding: 15px; color: #36454f">
            {{ oneProduct?.price }}
          </span>
        </div>
        Description:
        <div
          class="card-text lh-base example"
          style="
            padding: 15px;
            color: #36454f;

            width: 280px;
            height: 260px;
            overflow: scroll;
          "
          [innerHTML]="oneProduct?.description | dompurify" 
        >
        </div>
        <p class="card-text" style="margin-top: 15px">
          <small class="text-muted"
            >Last updated : {{ oneProduct?.updatedAt | date: "short" }}</small
          >
        </p>
      </div>
    </div>
  </div>
</div>
