.headNav{
    background-color: #CFCFC4;
    width:100%;
    height: 60px;
    
 }
 
 
 a{
    cursor: pointer;
    font-size: 17px;   
   
 }
  
 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}
.tab{
    background-color: #968768;
    padding: 3px;
    border-radius: 10px;
    margin-left:10px ;
  }



  .tbl{
    margin: 20px auto;
    width: 80%;
    
  }

   
     h1 { color: #006778;
      font-family: 'Raleway',sans-serif;
       font-size: 55px;
        font-weight: 700; 
       line-height: 72px; 
       margin: 0 0 15px; 
       text-align: center; 
      
     }


     .nextBackButton{
      margin-top: 30px;     
      display: flex;   
      justify-content: center;
    
     }
    

     .nbBtn{
      width: 10%;
     }
