

  .headNav{
    background-color: #CFCFC4;
    width:100%;
    height: 60px;
    
 }
 
 
 a{
    cursor: pointer;
    font-size: 17px;   
   
 }
  
 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}


.tab{
  background-color: #968768;
  padding: 3px;
  border-radius: 10px;
  margin-left:10px ;
}

.prodCards{
  display: flex;
  margin-left: 10px;
height: 180px;

 
}



.addressCard{
  max-width: 400px;
  margin: 5px auto;
}

.ord{
  font-weight: bold;
}


.payagainbtn{
  justify-content: center;
  display: flex;

}

.PAIDSTATUS{
  color: green;
  font-weight: bold;
}

.ERRORSTATUS{
  color: red;
  font-weight: bold;
}



.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

h1 { color: #006778;
   font-family: 'Raleway',sans-serif;
    font-size: 50px; font-weight: 750; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
   
  }

