<div class="register border border-5 rounded-3" >
  <form [formGroup]="registerForm">
    <h1>Register</h1>

    <div class="fullName">
      <label class="form-label">Full Name</label>

      <input formControlName="name" 
      [class.is-invalid]="registerForm.get('name')?.invalid && registerForm.get('name')?.touched " 
      type="text" class="form-control" name="name" />

      <div *ngIf="name!.invalid && name!.touched">
        <small class="text-danger" *ngIf="name!.errors?.['required']"
          >Full name name is required</small>
        <small class="text-danger" *ngIf="name!.errors?.['pattern']"
          >only alphabets are allowed</small>
      </div>

      <div *ngIf="sumitted && registerForm.get('name')?.untouched ">
        <small class="text-danger"
         *ngIf="sumitted && registerForm.get('name')?.errors?.['required']">Full name name is required</small>
      </div>
      
    </div>

    <div class="companyName">
      <label class="form-label">Company Name</label>
      <input formControlName="company"
      [class.is-invalid]="registerForm.get('company')?.invalid && registerForm.get('company')?.touched"
       type="text" class="form-control" name="company" />

      <div *ngIf="company!.invalid && company!.touched">
        <small class="text-danger" *ngIf="company!.errors?.['required']"
          >Company name is required</small>
        </div>

        <div *ngIf="sumitted && registerForm.get('company')?.untouched ">
          <small class="text-danger"
           *ngIf="sumitted && registerForm.get('company')?.errors?.['required']">Company name is required</small>
        </div>

    </div>

    <div class="email">
      <label class="form-label">Email address</label>
      <input formControlName="email" type="email" 
      [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
      class="form-control" name="email" />

      <div *ngIf="email!.invalid && email!.touched">
        <small class="text-danger" *ngIf="email!.errors?.['required']"
          >Email is required</small
        >
        <small class="text-danger" *ngIf="email!.errors?.['pattern']"
          >Email must be a valid email address</small
        >
      </div>

      <div *ngIf="sumitted && registerForm.get('email')?.untouched ">
        <small class="text-danger"
         *ngIf="sumitted && registerForm.get('email')?.errors?.['required']">Email is required</small>
      </div>

    </div>

    <div class="password">
      <label class="form-label">Password</label>
      <input formControlName="password" 
      [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
      type="password" class="form-control" name="password" />

      <div *ngIf="password!.invalid && password!.touched">
        <small class="text-danger" *ngIf="password!.errors?.['required']"
          >Password is required
        </small>
        <small class="text-danger" *ngIf="password!.errors?.['pattern']"
          >Password should be aplhanumeric(numbers, lower and upper characters
          and special symbol) and minimum 8 characters</small
        >
      </div>

      <div *ngIf="sumitted && registerForm.get('password')?.untouched ">
        <small class="text-danger"
         *ngIf="sumitted && registerForm.get('password')?.errors?.['required']">Password is required</small>
      </div>

    </div>

    <div class="button">
      <button type="submit"  class="btn btn-primary" (click)="register()">Register</button>
      <button type="submit"  class="btn btn-secondary" (click)="login()">Back to login</button>
    </div>
   


    <div *ngIf="error">
      <small class="text-danger">{{error}}</small>
    </div>
    
    </form>
</div>
